
.card {
	p {
		margin: 0
	}
	&.slider {
		margin: 0 20px
		padding-bottom: 20px
		@media (min-width: 768px) and (max-width: 991px) {
			margin: 0 10px
			padding-bottom: 10px
		}
		&.big {
			margin: 0
		}
	}
	.Description {
		.Category {
			font-size: 12px
			font-family: $robC
			display: block
			margin-bottom: 10px
		}
		h4 {
			font-size: 14px
			font-weight: 400
			margin-bottom: 10px
			text-transform: uppercase
			@media (min-width: 768px) and (max-width: 991px) {
				font-size: 13px
			}
			a {
				color: #003399
				font-family: $robC
			}
		}
		p {
			margin: 0
		}
	}
	&.cardVideo {
		padding: 20px
		.Image {
			margin-bottom: 10px
		}
	}
	&.cardText {
		.Description {
			h3 {
				padding-bottom: 10px
				margin-bottom: 0
				color: $mainCol
				a {
					color: $mainCol
					font-family: $robC
				}
			}
			p {
				padding: 0 20px 20px
				font-size: 16px
				font-family: $robC
			}
		}
	}
	&.cardImage {
		.Description {
			padding: 10px 20px 0
			span {
				color: #555
				font-size: 12px
				font-family: $robC
				display: block
				margin-bottom: 10px
			}
		}
		.Social {
			padding: 0 20px 20px
		}
	}
	.swiper-slide {
		.Image {
			height: 158px
			margin-bottom: 20px
			@media (min-width: 768px) and (max-width: 991px) {
				height: auto
				margin-bottom: 10px
			}
			&.big {
				height: 375px !important
			}
			a {
				display: block
				font-size: 0
				line-height: 0
				height: 100%
				width: 100%
				img {
					width: 100%
				}
			}
		}

		.swiper-pagination {
			top: 0
			font-family: Roboto Condensed;
			font-style: normal
			font-weight: 300
			font-size: 12px
			line-height: normal
			text-transform: uppercase
			color: #363636
		}
		.swiper-btn {
			position: static
			width: 30px
			height: 20px
			margin-top: 0
			background-size: contain
			&:focus {
				outline: none !important
			}
		}
	}
	&.big {
		.swiper-slide {
			.Image {
				height: auto
			}
		}
		.Description {
			h4 {
				font-size: 24px
				letter-spacing: -1px
			}
			p {
				font-size: 16px
				color: #363636
				font-family: $robC
				margin-bottom: 20px
			}
		}
	}
}
.card-links {
	padding: 20px 20px 20px 0
	margin-left: 20px
	border-top: 1px solid #DFDFDF
	span {
		font-size: 12px
		font-family: $robC
		color: #363636
		margin-bottom: 5px
		display: block
	}
	h4 {
		line-height: 1
		a {
			font-size: 14px
			font-weight: 400
			margin-bottom: 10px
			text-transform: uppercase
			font-family: $robC
			color: $mainCol
		}
	}
}
.sidebar-container {
	.big {
		.Description {
			padding: 0 20px
		}
		.BottomLine {
			padding: 0 20px
		}
	}
}
.bordered {
	.card {
		background: #FFF
		border: 1px solid #EAEAEA
		box-sizing: border-box
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.05)
		margin-bottom: 15px
	}
}