
// header

footer {
	font-family: Roboto Condensed
	background: #F4F7FC
	color: #363636
	margin: 0 !important
	margin-top: 0 !important
	padding: 100px 0
	@media (min-width: 640px) and (max-width: 1200px) {
		padding: 50px 0
	}
	@media (max-width: 640px) {
		padding: 30px 20px
	}
	.uk-width-3-4, .uk-width-1-4 {
		@media (max-width: 959px) {
			width: 100%
			padding: 0 20px
		}
	}
	h3 {
		font-size: 24px
		font-weight: 700
		color: #000
		padding: 0 0 40px
		@media (max-width: 1200px) {
			padding: 0 0 20px
			font-size: 20px
		}
		@media (max-width: 640px) {
			text-align: center
		}
	}
	ul.footer-nav {
		padding: 0
		margin: 0
		display: flex
		justify-content: space-between
		@media (min-width: 640px) and (max-width: 1200px) {
			flex-wrap: wrap
			justify-content: left
		}
		@media (max-width: 640px) {
			display: block
		}
		li {
			list-style: none
			@media (min-width: 640px) and (max-width: 1200px) {
				margin: 0 20px 0 0
			}
			@media (max-width: 640px) {
				display: block
				text-align: center
			}
		}
	}
	h5 {
		font-size: 18px
		font-weight: 400
		margin-bottom: 40px
		@media (min-width: 640px) and (max-width: 1200px) {
			font-size: 16px
			margin-bottom: 20px
		}
		@media (min-width: 640px) and (max-width: 1200px) {
			margin-top: 20px
		}
		@media (max-width: 640px) {
			margin-bottom: 10px
			margin-top: 20px
			text-align: center
		}
	}
	.social {
		display: flex
		justify-content: left
		@media (max-width: 640px) {
			justify-content: center
		}
		a {
			width: 40px
			height: 40px
			margin: 0 20px 0 0
			@media (min-width: 960px) and (max-width: 1200px) {
				width: 30px
				height: 30px
				margin: 0 10px 0 0
				background-size: 100% !important
			}
			@media (max-width: 640px) {
				margin: 0 3px
			}
		}
	}
}
