
// header

header {
	.uk-navbar {
		margin: 0
		display: flex
		justify-content: space-between
		@media (max-width: 640px) {
			display: block
		}
	}
	.uk-navbar-brand {
		padding: 24px 0
		display: block
		overflow: hidden
		@media (min-width: 640px) and (max-width: 959px) {
			padding: 15px 0
		}
		img {
			margin-right: 40px
			width: 55px
			height: 29px
		}
		span {
			font-size: 12px
			text-transform: uppercase
			color: #000
			display: block
			float: right
			line-height: 15px
			max-height 29px
		}
	}
	.uk-navbar-nav {
		@media (max-width: 640px) {
			display: block
			margin: 0 0 20px
		}
		li {
			margin: 0 25px
			font-size: 14px
			@media (max-width: 640px) {
				display: block
				margin: 0
				text-align: center
			}
			@media (min-width: 640px) and (max-width: 959px) {
				margin: 0 10px
			}
			.dropdown {
				padding: 20px 0
				display: block
				@media (min-width: 640px) and (max-width: 959px) {
					padding: 10px 0
				}
				@media (max-width: 640px) {
					padding: 10px 0
					display: inline-block
				}
				button {
					border: 0
					padding-left: 30px
					font-size: 14px
					color: #000
				}
			}
			.mail {
				padding-left: 30px
				font-size: 14px
				color: #000
				text-transform: lowercase
				@media (min-width: 640px) and (max-width: 959px) {
					min-height: 60px
				}
				@media (max-width: 640px) {
					text-align: center
					display: inline-block
					min-height: auto
					line-height: 40px
				}
			}
		}
	}
}