* {outline: 0}

$rob = 'Roboto', sans-serif
$robS = 'Roboto Slab', sans-serif
$robC = 'Roboto Condensed', sans-serif

$mainCol = #003399

.uk-container {
	@media (min-width: 1440px) {
		max-width: 1344px
		padding: 0
	}
	@media (min-width: 1200px) and (max-width: 1440px) {
		max-width: 1344px
		padding: 0 20px
	}
}

html, body {
	background: #fff
	font-family: $robC
	overflow-x: hidden
}

a {transition: all 0.3s}
h1, h2, h3, h4, h5, h6 {
	margin: 0
	font-weight: 700
	font-family: $robC
}
h1 {
	font-size: 36px
	font-weight: 700
}
h2 {font-weight: 700}
h3 {
	font-size: 18px
	font-weight: 700
	padding: 20px
	color: $mainCol
	@media (min-width: 768px) and (max-width: 991px) {
		padding: 10px
		font-size: 16px
	}
}
.p0 {padding: 0}
.mt0 {margin-top: 0 !important}
.mt10 {margin-top: 10px}
.mt80 {margin-top: 80px}
.no-padding {padding: 0}

.main-btn {
	font-size: 16px
	color: #2A2A2A
	padding: 7px 25px
	border-radius: 2px
	border: 0
	&:hover, &:active {
		text-decoration: none
		color: #2A2A2A
	}
	&.yellow {
		background: linear-gradient(180deg, #FDF300 0%, #EDA10D 158.87%)
		box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15)
	}
	&.green {
		background: #00A651
		color: #fff
		&:hover, &:active {
			color: #fff
		}
	}
}

h2.line-title {
	text-align: center
	color: #fff
	font-size: 32px
	line-height: 34px
	font-weight: 700
	&.dark {
		color: #4B4B4B !important
		span {
			&:before, &:after {
				background: #4B4B4B !important
			}
		}
	}
	span {
		padding: 0 30px
		position: relative
		&:before, &:after {
			content: ''
			display: block
			height: 2px
			position: absolute
			width: 1000px
			background: #fff
			top: 50%
			margin-top: -1px
		}
		&:before {
			left: 100%
		}
		&:after {
			right: 100%
		}
	}
}

.pulse {
    animation-name: pulse_animation
    animation-duration: 1000ms
    transform-origin:70% 70%
    animation-iteration-count: infinite
    animation-timing-function: linear
}
@keyframes pulse_animation {
    0% { transform: scale(1) }
    50% { transform: scale(1.2) }
    100% { transform: scale(1) }
}