
/********** Базовые стили **********/
@import 'libs/uikit.css'
@import 'basic.styl'

/********** Header **********/
@import "include/header.styl"

/********** Footer **********/
@import "include/footer.styl"


.banner {
	@media (min-width: 960px) and (max-width: 1200px) {
		background-size: cover !important
	}
	@media (max-width: 640px) {
		background-size: cover !important
	}
	h1 {
		font-size: 40px
		color: #fff
		margin: 200px 0 100px
		@media (min-width: 960px) and (max-width: 1200px) {
			font-size: 32px
			margin: 100px 0 50px
		}
		@media (min-width: 640px) and (max-width: 959px) {
			font-size: 28px
			margin: 50px 0 20px
		}
		@media (max-width: 640px) {
			margin: 30px 0 20px
			font-size: 20px
		}
	}
	.btn {
		font-size: 18px
		line-height: 20px
		color: #000
		background: #fff
		display: inline-block
		padding: 20px 50px
		border-radius: 50px
		border: 0
		margin-bottom: 100px
		@media (min-width: 960px) and (max-width: 1200px) {
			margin-bottom: 40px
		}
		@media (min-width: 640px) and (max-width: 959px) {
			margin-bottom: 40px
			padding: 10px 30px
			font-size: 14px
		}
		@media (max-width: 640px) {
			font-size: 14px
			padding: 10px 30px
			margin-bottom: 30px
		}
	}
}

.content {
	background: #F4F7FC
	padding-bottom: 100px
	@media (max-width: 959px) {
		padding-bottom: 50px
	}
	.my-container {
		text-align: center
		@media (min-width: 1440px) {
			width: 82%
			margin: 0 9%
		}
		@media (min-width: 1200px) {
			width: 92%
			margin: 0 4%
		}
		@media (max-width: 1200px) {
			width: 100%
			box-sizing: border-box
			padding: 0 30px
		}
		@media (max-width: 640px) {
			padding: 0 20px
		}
		h2 {
			padding: 70px 0
			@media (min-width: 960px) and (max-width: 1200px) {
				padding: 30px 0
			}
			@media (min-width: 640px) and (max-width: 959px) {
				padding: 30px 0
				font-size: 28px
			}
			@media (max-width: 640px) {
				padding: 30px 0
				font-size: 20px
			}
		}
	}
}

.list-group-item {
	margin: 0
	padding: 0
	list-style: none
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	@media (min-width: 1200px) and (max-width: 1600px) {
		justify-content: center
	}
	@media  (max-width: 1200px) {
		justify-content: center
	}
	li {
		width: 373px
		margin-bottom: 20px
		background: #fff
		@media (min-width: 1200px) and (max-width: 1600px) {
			margin: 0 10px 20px
		}
		@media (min-width: 960px) and (max-width: 1200px) {
			margin: 0 10px 20px
		}
		@media (max-width: 640px) {
			max-width: 100%
			overflow: hidden
		}
		.img-wrapper {
			width: 373px
			height: 481px
			overflow: hidden
			display: block
			position: relative
			@media (max-width: 640px) {
				max-width 100%
				max-height: 386px
			}
			img {
				display: block
				margin: auto
			}
		}
		.description {
			display: flex
			padding: 15px 20px
			text-align: left
			.title {
				width: 60%
				@media (max-width: 640px) {
					min-width: 70%
					flex: 1
				}
				h3 {
					padding: 0
					font-size: 14px
					margin-bottom: 10px
				}
				h4 {
					font-size: 24px
					font-weight: 700
					color: #FF0000
					margin-bottom: 5px
				}
				h5 {
					font-size: 14px
					font-weight: 700
				}
			}
			.colors {
				width: 40%
				display: flex
				padding: 50px 0 0
				margin: 0
				@media (max-width: 640px) {
					width: auto
					padding: 0
					align-self: flex-end
					justify-content: right
				}
				li {
					list-style: none
					width: 25px
					height: 25px
					border-radius: 50%
					overflow: hidden
					margin: 0 10px
					@media (max-width: 640px) {
						width: 10px
						height: 10px
						margin: 0 3px
					}
				}
			}
		}
	}
}

.offer {
	padding: 90px 0 0
	@media (min-width: 960px) and (max-width: 1200px) {
		padding: 50px 0 0
	}
	@media (max-width: 959px) {
		padding: 40px 0 0
	}
	.uk-width-3-4, .uk-width-1-4 {
		@media (max-width: 959px) {
			width: 100%
			padding: 0 20px
			margin: 0
			&.uk-width-1-4 {
				display: none
			}
		}
	}
	.uk-width-3-4 {
		@media (max-width: 640px) {
			padding: 0
		}
	}
	.uk-grid {
		@media (max-width: 640px) {
			margin: 0
		}
	}
	h2 {
		font-size: 36px
		margin-bottom: 90px
		@media (max-width: 1200px) {
			font-size: 30px
			margin-bottom: 40px
		}
		@media (max-width: 640px) {
			font-size: 20px
			margin-bottom: 20px
			text-align: center
		}
	}
	ul {
		padding: 0
		margin: 0
		display: flex
		flex-wrap: wrap
		list-style: none
		li {
			width: calc((100% / 2) - 30px)
			position: relative
			margin-right: 30px
			padding-left: 75px
			box-sizing: border-box
			&:nth-child(2n) {
				margin-right: 0
			}
			@media (min-width: 960px) and (max-width: 1200px) {
				padding-left: 60px
				margin-right: 20px
			}
			@media (max-width: 959px) {
				margin: 0 0 20px
				width: 100%
			}
			@media (max-width: 640px) {
				padding-left: 60px
			}
			img {
				align-self: self-start
				margin-right: 30px
				max-width: 50px
				height: auto
				position: absolute
				top: 0
				left: 0
			}
			h6 {
				font-size: 18px
				margin-bottom: 20px
				@media (min-width: 960px) and (max-width: 1200px) {
					font-size: 16px
					margin-bottom: 10px
				}
				@media (max-width: 640px) {
					font-size: 16px
					margin-bottom: 0
				}
			}
			p {
				font-size: 14px
				@media (min-width: 960px) and (max-width: 1200px) {
					font-size: 13px
					margin: 0 0 10px
				}
				@media (max-width: 640px) {
					font-size: 13px
					margin: 0 0 10px
				}
			}
		}
	}
}


.form {
	padding: 80px 0
	border-top: 2px solid #F4F7FC
	@media (min-width: 960px) and (max-width: 1200px) {
		padding: 40px 0
	}
	@media (min-width: 640px) and (max-width: 959px) {
		padding: 40px 0
	}
	@media (max-width: 640px) {
		padding: 30px 0
	}
	h2 {
		font-size: 36px
		text-align: center
		font-weight: 400
		margin-bottom: 20px
		@media (min-width: 960px) and (max-width: 1200px) {
			font-size: 30px
		}
		@media (min-width: 640px) and (max-width: 959px) {
			font-size: 28px
		}
		@media (max-width: 640px) {
			font-size: 20px
		}
	}
	p {
		margin: 0 0 80px
		text-align: center
		font-size: 14px
		@media (min-width: 960px) and (max-width: 1200px) {
			margin-bottom: 40px
		}
		@media (min-width: 640px) and (max-width: 959px) {
			margin-bottom: 30px
		}
		@media (max-width: 640px) {
			font-size: 13px
			margin-bottom: 20px
		}
	}
	form {
		text-align: center
		.row {
			display: flex
			justify-content: center
			margin-bottom: 40px
			@media (min-width: 960px) and (max-width: 1200px) {
				margin-bottom: 20px
			}
			@media (max-width: 959px) {
				display: block
			}
		}
		input[type=text] {
			max-width: 302px
			margin: 0 10px
			height: 60px
			font-size: 14px
			color: #000
			border: 1px solid #F0F4FC
			border-radius: 60px
			padding: 0 20px
			box-sizing: border-box
			&::placeholder {
				color: #000
			}
			@media (min-width: 960px) and (max-width: 1200px) {
				height: 40px
				border-radius: 40px
				width: 250px
			}
			@media (max-width: 959px) {
				margin-bottom: 10px
				height: 40px
				border-radius: 40px
			}
		}
		label {
			display: block
			margin-bottom: 40px
			font-size: 14px
			font-weight: 400
			color: #000
			input[type=checkbox] {
				width: 18px
				height: 18px
				border: 1px solid #010101
				margin-right: 10px
				&.uk-checkbox:checked {
					background-color: #010101
				}
			}
			@media  (max-width: 1200px) {
				margin-bottom: 20px
			}
		}
		button {
			color: #fff
			background: #171717
			height: 60px
			border-radius: 60px
			border: 0
			width: 302px
			@media (max-width: 1200px) {
				height: 40px
				border-radius: 40px
				width: 250px
			}
		}
	}
}
