extends base.pug

| {% load staticfiles %}

block content

    section.banner(style='background: url(./static/banner.jpg) center no-repeat')
        .uk-container
            h1 Оптовый производитель
                br
                | женской одежды
            a(href='#').btn Получить каталог

    section.content
        .my-container
            h2 Новая коллекция 2019
            ul.list-group-item
                include components/item
                include components/item
                include components/item
                include components/item
                include components/item
                include components/item
                include components/item
                include components/item
                include components/item
                include components/item
                include components/item
                include components/item

    section.offer
        .uk-container
            .uk-grid
                .uk-width-3-4
                    h2 Что предлагаем ?
                    ul
                        li
                            img(src='./static/icons/wallet.svg')
                            div
                                h6 Оплата любым удобным для Вас способом
                                p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        li
                            img(src='./static/icons/shield.svg')
                            div
                                h6 100% гарантия возврата
                                p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        li
                            img(src='./static/icons/dress.svg')
                            div
                                h6 50 новых фасонов в месяц
                                p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        li
                            img(src='./static/icons/shopping.svg')
                            div
                                h6 Заказ от 6 единиц
                                p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        li
                            img(src='./static/icons/percent.svg')
                            div
                                h6 10% скидка на первую покупку
                                p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        li
                            img(src='./static/icons/map.svg')
                            div
                                h6 Доставка в любую точку России
                                p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                .uk-width-1-4
                    img(src='./static/girl.svg')

    section.form
        .uk-container
            h2 ОТПРАВЬТЕ ЗАЯВКУ
            p и мы вышлем Вам актуальный каталог
            form
                .row
                    input.uk-input(type='text', placeholder='Введите имя')
                    input.uk-input(type='text', placeholder='Введите Email')
                    input.uk-input(type='text', placeholder='Введите номер телефона')
                label
                    input.uk-checkbox(type='checkbox')
                    |  Согласие на обработку персональных данных
                button.uk-button.uk-button-default Отправить





block js
    script.



