| {% load staticfiles %}

footer
    .uk-container
        .uk-grid
            .uk-width-3-4
                h3 Наши направления
                ul.footer-nav
                    li Вечерние платья
                    li Свадебные платья
                    li Коктейльные платья
                    li Большие размеры
                    li Выпускные
                    li Универсальные
            .uk-width-1-4
                h5 Мы в социальных сетях
                .social
                    a(href='#' style='background: url(./static/vk.svg) center no-repeat;widht: 40px;height: 40px;')
                    a(href='#' style='background: url(./static/fc.svg) center no-repeat;widht: 40px;height: 40px;')
                    a(href='#' style='background: url(./static/ins.svg) center no-repeat;widht: 40px;height: 40px;')
                    a(href='#' style='background: url(./static/yt.svg) center no-repeat;widht: 40px;height: 40px;')

