| {% load staticfiles %}

header
	.uk-container
		nav.uk-navbar
			a.uk-navbar-brand.uk-hidden-small(href='#')
				img(src='./static/logo.svg')
				span ОФИЦИАЛЬНЫЙ
					br
					| ПРЕДСТАВИТЕЛЬ
			ul.uk-navbar-nav
				li
					.dropdown
						button.uk-button.uk-button-default(type='button', style='background: url(./static/phone.svg) 0 center no-repeat;') +996 707 103 397
						div(uk-dropdown='pos: bottom-justify')
							ul.uk-nav.uk-dropdown-nav
								li
									a(href='#') +996 707 103 397
								li
									a(href='#') +996 707 103 397
				li
					a(href='mailto:vlad@htmlbook.ru', style='background: url(./static/email.svg) 0 center no-repeat;').mail milomoor@kg



