li.item
    .img-wrapper
        img(src='./static/item.svg')
        span.discount 45%
    .description
        .title
            h3 Платья
            h4 9 740 руб.
            h5
                s 17 700 руб.
        ul.colors
            li(style='background: #563A7A;')
            li(style='background: #81D0C0;')
            li(style='background: #1620B6;')
